/trenchbroom/
/source/
/tools/
*.PAK
*.dll
*.zip
*.exe
*.sav
*/compile.bat
Quakespasm.html
Quakespasm.txt
Quakespasm-Music.txt
wads/hipnotic.wad
wads/id1.wad
wads/prototype.txt
wads/prototype_1_2.wad
wads/rogue.wad
wads/START.WAD
history.txt
LICENSE.txt
*.prt
